<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhanman.lhanweather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity2" />

        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".WellCOmeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegiseterActivity" />
        <activity android:name=".UI.CaidandetailActivity" />
        <activity android:name=".UI.ChangeActivity" />
        <activity android:name=".UI.ChangeUserInfoActivity" />
        <activity android:name=".UI.UserInfoActivity" />
        <activity android:name=".UI.AddcaidanActivity" />
        <activity android:name=".UI.AboutActivity" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>